.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
  margin: 0 8px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--text-light);
  transition: 0.3s;
  border-radius: 28px;
  border: 2px solid var(--border);
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  transition: 0.3s;
  border-radius: 50%;
}
input:checked + .slider {
  background: var(--accent);
}
input:checked + .slider:before {
  transform: translate(22px, -50%);
}
